.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background-color: white;
  

  main {
    flex: 1;
    // margin-top: 80px;
  }
}

// Smooth scrolling
html {
  scroll-behavior: smooth;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;

  &:hover {
    background: var(--accent-color);
  }
}
